@import 'darktheme.css';
@import 'animations.css';

/* Seems to break without this for some weird reason */
* {
  min-height: 0;
  min-width: 0;
}

html,
body,
#___gatsby {
  background-color: var(--main-bg-color);
}

body {
  background-color: var(--main-txt-color);
}

::selection {
  background: #ff6138;
  color: white;
}

input {
  box-sizing: border-box;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: var(--main-txt-color);
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.redirect-button {
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
  font-size: var(--btn-font-size);
  font-weight: var(--p-bold-weight);
  padding: var(--btn-padding);
  transition: var(--btn-hover-transition);
  min-width: 115px;
  text-decoration: none;
}
