:root {
  /* Background */
  --main-bg-color: #1c1d25;
  --main-txt-color: #ffffff;

  /* Theme */
  --primary-color: #26b9a0;
  --primary-light: #59bb8e;
  --secondary-color: #fe5b4c;
  --link-color: var(--primary-color);

  /* Buttons */
  --btn-border-color: var(--primary-color);
  --btn-padding: 0.7rem 1rem;
  --btn-color: transparent;
  --btn-border-radius: 5px;
  --btn-font-size: 0.8rem;

  /* Typography */
  --primary-font: 'Barlow', sans-serif;
  --secondary-font: 'Barlow', sans-serif;
  --h1-text-size: 3rem;
  --h1-blog-text-size: 2.3rem;
  --h2-text-size: 2rem;
  --h3-text-size: 1rem;
  --h4-text-size: 1.2rem;
  --heading-bold-weight: 600;
  --p-txt-size: 1.1rem;
  --caption-txt-size: 0.8rem;
  --p-normal-weight: 400;
  --p-bold-weight: 400;
  --txt-opacity-normal: 1;
  --txt-opacity-dimmed: 0.4;
  --a-txt-size: 1.3rem;

  --secondary-font-light: 300;
  --secondary-font-regular: 400;
  --secondary-font-bold: 700;

  /* Font Weights */

  /* Forms */
  --form-input-color: var(--main-txt-color);
  --input-background-color: var(--main-txt-color);
  --input-txt-color: var(--main-bg-color);
  --input-placeholder-color: var(--main-bg-color);
  --input-padding: 12px 22px;

  /* Transitions */
  --btn-hover-transition: 0.2s;
}
